.post {
  p {
    line-height: 180%;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding-left: 1.25rem;
    margin: 0;
  }

  h2 {
    padding: 0.3rem;
    color: #fff;
    letter-spacing: 0.05em;
    background-color: #333;
  }

  h3 {
    width: fit-content;
    letter-spacing: 0.05em;
    border-bottom: 3px dashed #333;
  }

  dl {
    display: grid;
    grid-template-columns: max-content minmax(0, 1fr);
    row-gap: 0.75rem;
    align-items: center;
  }

  dl dt {
    padding: 0.4rem 0.6rem;
    font-weight: 700;
    background-color: #eee;
    border-left: 5px solid #111;
  }

  dl dd {
    padding: 0.4rem;
  }

  dl dd a {
    overflow-wrap: anywhere;
  }
}
