---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import ArticleCard from '../components/ArticleCard.astro';
import Pagination from '../components/Pagination.astro';
import { site, pagination } from '../data/constants.ts';
import { sortBlogsByDate } from '../utils/sortBlogs';

const blogs = sortBlogsByDate(await getCollection('blogs'));
const firstPageBlogs = blogs.slice(0, pagination.pageSize);
const lastPage = Math.ceil(blogs.length / pagination.pageSize);
---

<BaseLayout description={site.description}>
  <main class="stack">
    <div class="article-card">
      <ArticleCard blogs={firstPageBlogs} />
    </div>

    {
      lastPage > 1 && (
        <div class="pagination">
          <Pagination currentPage={1} lastPage={lastPage} basePath="/page" />
        </div>
      )
    }
  </main>
</BaseLayout>

<style lang="scss">
  @property --stack-gap {
    syntax: '<length>';
    inherits: false;
    initial-value: 24px;
  }

  .stack > * + * {
    margin-top: var(--stack-gap, 1.5rem);
  }
</style>
