---
import BaseLayout from "../layouts/BaseLayout.astro";
import { SITE_DESCRIPTION } from "../consts/site";
---

<BaseLayout description={SITE_DESCRIPTION}>
  <main>
    <h1>🧑‍🚀 Hello, Astronaut!</h1>
  </main>
</BaseLayout>
