---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import ArticleCard from '../components/ArticleCard.astro';
import { site } from '../data/constants.ts';

const blogs = (await getCollection('blogs')).sort((a, b) => {
  return (
    b.data.publishedAt.getTime() - a.data.publishedAt.getTime() ||
    a.data.slug.localeCompare(b.data.slug)
  );
});
---

<BaseLayout title={site.title} description={site.description}>
  <main>
    <ArticleCard blogs={blogs} />
  </main>
</BaseLayout>

<style is:global>
  img {
    /* TODO: 後に削除 */
    width: 10%;
    height: auto;
  }
</style>
