---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import ArticleCard from "../components/ArticleCard.astro";
import { sortBlogsByPublishedDesc } from "../utils/sortBlogs";
import { SITE_DESCRIPTION } from "../consts/site";

const blogs = sortBlogsByPublishedDesc(await getCollection("blogs"));
---

<BaseLayout description={SITE_DESCRIPTION}>
  <main>
    <ArticleCard blogs={blogs} />
  </main>
</BaseLayout>
