---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import ArticleCard from '../components/ArticleCard.astro';
import Pagination from '../components/Pagination.astro';
import { site, pagination } from '../data/constants.ts';
import { sortBlogsByDate } from '../utils/sortBlogs';

const blogs = sortBlogsByDate(await getCollection('blogs'));
const firstPageBlogs = blogs.slice(0, pagination.pageSize);
const lastPage = Math.ceil(blogs.length / pagination.pageSize);
---

<BaseLayout title={site.title} description={site.description}>
  <main>
    <ArticleCard blogs={firstPageBlogs} />
    {
      lastPage > 1 && (
        <div class="pagination">
          <Pagination currentPage={1} lastPage={lastPage} basePath="/page" />
        </div>
      )
    }
  </main>
</BaseLayout>

<style is:global>
  img {
    /* TODO: 後に削除 */
    width: 10%;
    height: auto;
  }
</style>
