---
import { SITE_TITLE } from "../consts/site";
import SocialLinks from "./SocialLinks.astro";

const currentYear = new Date().getFullYear();
---

<footer>
  <button type="button" id="page-top-btn">ページ上部へ</button>

  <SocialLinks />

  <small>
    &copy; {currentYear}
    <a href="/">{SITE_TITLE}</a>. All rights reserved.
  </small>
</footer>

<script>
  document.getElementById("page-top-btn")?.addEventListener("click", () => {
    window.scrollTo({ top: 0, behavior: "smooth" });
  });
</script>

<style>
  footer {
    padding: 2em 1em 6em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
    text-align: center;
  }
</style>
