---
import { SITE_TITLE } from "../consts/site";
import HeaderLink from "./HeaderLink.astro";

const pathname = Astro.url.pathname;
const isTop = pathname === "/";
const TitleTag = isTop ? "h1" : "p";
---

<header>
  <nav>
    <TitleTag class="site-title">
      <a href="/">{SITE_TITLE}</a>
    </TitleTag>

    <ul class="internal-links">
      <li>
        <HeaderLink href="/">記事一覧</HeaderLink>
      </li>
      <li>
        <HeaderLink href="/taxonomy/">カテゴリ・タグ</HeaderLink>
      </li>
    </ul>
  </nav>
</header>

<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: white;
    box-shadow: 0 2px 8px rgb(var(--black), 5%);
  }

  .site-title {
    margin: 0;
    font-size: 1em;
  }

  .site-title a,
  .site-title a.active {
    text-decoration: none;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }

  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
</style>
