body {
  /*
  ** TODO: 後に削除
  ** autoprefixerのテスト用
  */
  user-select: none;
  backdrop-filter: blur(10px);
}

h1 {
  /*
  ** TODO: 後に削除
  ** SCSS適用のテスト用
  */
  color: red;
}

img {
  /* TODO: 後に削除 */
  width: 10%;
  height: auto;
}
