/* Colors */
$color-link: rgba(0 0 238);
$color-link-visited: rgba(85 26 139);

/* Font base */
$font-body: 'Noto Sans JP', 'Inter', arial, sans-serif;

/* breakpoints */
$bp-mobile: 768px;
$bp-tablet: 1024px;
$bp-desktop: 1280px;
