---
import '../styles/index.scss';

import BaseHead from '../components/BaseHead.astro';
import Background from '../components/Background.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import MessageBoard from '../components/MessageBoard.astro';

const GTM_ID = import.meta.env.PUBLIC_GTM_ID;
---

<html lang="ja">
  <head><BaseHead {...Astro.props} /></head>

  <body>
    {
      GTM_ID && (
        <noscript>
          <iframe
            title="Google Tag Manager"
            src={`https://www.googletagmanager.com/ns.html?id=${GTM_ID}`}
            height="0"
            width="0"
            style="display:none;visibility:hidden"
          />
        </noscript>
      )
    }
    <Background />

    <div class="layout">
      <div class="layout__section">
        <Header />
      </div>

      <div class="layout__section">
        <MessageBoard />
      </div>

      <div class="layout__section">
        <slot />
      </div>

      <div class="layout__section">
        <Footer />
      </div>
    </div>
  </body>
</html>
