---
import '../styles/index.scss';

import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const GTM_ID = import.meta.env.PUBLIC_GTM_ID;
---

<html lang="ja">
  <head><BaseHead {...Astro.props} /></head>

  <body>
    {
      GTM_ID && (
        <noscript>
          <iframe
            title="Google Tag Manager"
            src={`https://www.googletagmanager.com/ns.html?id=${GTM_ID}`}
            height="0"
            width="0"
            style="display:none;visibility:hidden"
          />
        </noscript>
      )
    }
    <Header />

    <slot />

    <slot name="recommend" />

    <Footer />
  </body>
</html>
